
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
}

body {
    background-color:  hsl(0, 0%, 98%);
    color: hsl(209, 23%, 22%);
    font-family: "Nunito Sans", sans-serif;
    max-width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    margin:3rem;
    margin-top: 0px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%) ;
    color:  hsl(209, 23%, 22%);
    font-size: 16px;

}
.second-container{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    font-size: 14px;

}


body.dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
    font-family: "Nunito Sans", sans-serif;

}


.header.dark-mode {
    background-color:hsl(209, 23%, 22%);
    color:hsl(0, 0%, 100%);
}
.search-country.dark-mode {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}
.header >h3{
    font-size: 14px;
}

.search-country >input{
    background-color:transparent;
    border: none;
    /* height: 40px; */
}
.search-country input:focus {
    outline: none; 
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 52%);

}

.search-country{
    background-color: hsl(0, 0%, 100%);
    height: 40px;
    padding: 10px;
   border-radius: 5px;
}
#search-trigger{
    font-size: 20px;
    padding-right: 2rem;
}
input::placeholder{
    color: hsl(0, 0%, 52%);
    height: 30px;
    border: none;
  }
.filter-regions {
    cursor: pointer;
}
.filter-regions >span{
    display: flex;
    gap: 1rem;
    width: 150px;
    height: 40px;
    background-color:hsl(0, 0%, 100%);
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    margin-bottom: 0.6rem;

}
.filter.dark-mode{
    background-color:  hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%) ;
}
.regions{
    background-color:hsl(0, 0%, 100%) ;
    padding: 10px 30px;
    line-height: 22px;
    display: none;
  
 
}
.regions.dark-mode{
    background-color:  hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%) ;  
}


.countries-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three equal-width columns */
    gap: 25px; /* Add some space between cards */
    margin-left: 3rem;
    margin-right: 3rem;
   
}

.country-card {
    border-radius: 8px;
    background-color: hsl(209, 23%, 22%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color:  hsl(0, 0%, 100%);
 
}
.country-card>img{
    width: 100%;
    height: 60%;
}
.country-card >p span{
    font-weight: bold;
    font-size: 16px;
    padding-left: 2rem;
}
.country-card >h2{
    padding-left: 2rem;
}







